/*CSS CAMILO*/

/* CARDS 
----------------------------------------------------------------------------------------*/

.card {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid #D7E1E1;
  height: auto;
  float: left;
  margin-bottom: 30px;
    background-color: #ffffff;
    position: relative;
}

.number {
     width: 40px;
    height: 40px;
    position: absolute;
    top: -20px;
    right: 12px;
    z-index: 1;
    background-color: #F9A41A;
    border-radius: 50%;
    color: #ffffff;
    font-size: 1.250em;
    text-align: center;
    line-height: 2.2;
    
}

.wisher_card_container {
    padding: 5% 6% 10% 6%;
}

#basic_info_home {

}

#basic_info_home ul {

}

#basic_info_home ul li {
  float: left;
}

#basic_info_home li:nth-child(2) {
  margin-top: 10px;
  margin-left: 20px;
    width: 70%;
}

#basic_info_home h3 {
    color: #0E777F;
  font-size: 1.500em;
  font-family: 'AndesRounded-Regular';
  display: inline-block;
  white-space: normal;
  text-overflow: ellipsis;
  width: 100%;
  height: 60px;
  overflow: hidden;
    line-height:1.25;
    margin-bottom: 10px;
}

#destination_home {
  margin-left: 0;
    margin-top:0;
  margin-right: 0 !important;
  float: left;
  width: 40%;
  display: block;
}

#destination_home p, #details_home p {
    color: #D3D3D3;
    font-size: 0.875em;
    font-family: 'AndesRounded-Regular';
    line-height: 1.5;
    
}

#destination_home h4, #details_home h4 {
    font-size: 1.250em;
    color: #737373;
    font-family: 'AndesRounded-Regular';
    line-height:1.5;
}

#details_home {
    margin-top: 0;
  float: right;
  width: 60%;
  display: block;
}

#details_home ul {

}

#details_home ul li:first-child {
    margin: 8px 0 0 0 !important;
}

#details_home li {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-block;
    margin: 8px 0 0 6%;
}

.display_block {
  display: block;
}


.margin-left {
    margin-left: 20% !important;
    width: 40% !important;
}

.short-delivery-date {
    width: 40% !important;
}

.button_look {
  font-size: 15px;
  border-radius: 0 0 6px 6px;
  color: #ffffff;
  background-color: #00B2BE;
  position: relative;
  bottom: 0;
  height: 6px;
  width: 100%;
  text-align: center;
  position: absolute;
}

.button_look h4 {
  color: #ffffff;
  padding-top: 8px;
  font-family: 'AndesRounded-Regular';
  text-transform: uppercase;
    display: none;
}



/* HEADER 
----------------------------------------------------------------------------------------*/

header {
	width: 100%;
	height: 60px;
	background-color: #08484D;/*#00B2BE*/
	margin:0 !important;
}

header h1 {

	font-family: 'AndesRounded-ExtraBold';
	float: left;
}

header h1 a {
    color: transparent;
    background: url(../img/logo.svg) no-repeat 0 0;
    width: 130px;
    height: 30px;
    margin: 15px 0 0 0;
    display: block;
}

.user-tools {
	float: right;
	display: block;
}

.user-tools li {
	display: inline-block;
    margin: 10px 0 0 10px;
    float: right;
}

.user-tools li a {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	/* background-color: #0E777F; */
	display: block;
    color: transparent;
  cursor: pointer;
}

.dropdown-user:before {
  content:"";
  width: 15px;
  height: 15px;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
  border-left: 1px solid #94A4AD;
  border-top: 1px solid #94A4AD;
  background-color:#ffffff;
  position: absolute;
  top: -9px;
  left: 55%;
  right:0;
  margin: auto;
  z-index: 9998;
}

.dropdown-user {
  display:none;
  width: 200px;
  border-radius: 6px;
  border: 1px solid #94A4AD;
  background-color: #ffffff;
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 9997;
}

.dropdown-user li {
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  margin: 0 !important;
}

.dropdown-user li  a {
  width: 100%;
  height: 40px;
  color: #0E777F;
  background-color: transparent;
  font-size: 1.25em;
  text-align: left;
  font-family: 'AndesRounded-Regular';
  line-height: 2;
  border-radius: 0 !important;
  padding: 0 10%;
  box-sizing: border-box;
  z-index: 9999;
  position: relative;

  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;

}

.dropdown-user li  a:hover {
  background-color: #0E777F;
  color: #ffffff;
}

/* PICTURES MASK CIRCLE
----------------------------------------------------------------------------------------*/

.user-pic {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;

	display: block;
	overflow: hidden;
}




/* PROFILE 
----------------------------------------------------------------------------------------*/

/* OVERVIEW */

.user-general-info {
    background-color: white;
    padding-bottom: 100%;
}

.user-info {
    padding: 20px 0;
    width: 90%;
}

.ficha-user {
  clear: both;
  width: 100%;
  display: inline-block;
  margin: 0 auto;
}


.edit-profile-button {
    float: right;    
    text-align: center;
    margin: 20px 20px 0;
    cursor: pointer;
    font-size: 0.875em;
    color: #7D7D7D;
}

.edit-profile-button-whitespace {
    float: right;    
    text-align: center;
    margin: 20px 20px 51px 20px;
    font-size: 0.875em;
    color: #7D7D7D;
    width: 27px;
    height: 27px;
}

.edit-profile-button span {
    width: 27px;
    height: 27px;
    margin: 0 auto 4px auto;
    border-radius: 50%;
    display: block;
    text-align: center;
    display: inline-table;
}

.user-picture {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin: 25px auto 25px;
    background-color: gray;
}

.user-info div img {
     width: 100%;
    
}

.user-info h2 {
  text-align: center;
  margin-bottom: 10px;
  color: #585858;
}

.location {
    width: auto;
    margin: 0 auto;
    display: table;
}

.location-icon {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    float: left;
    margin: 0 10px 0 0;
}

.user-info h4 {
    text-align: left;
    float: left;
    line-height: 1.5;
    color: #585858;
    font-family: 'AndesRounded-Regular';
    font-size: 1em;
    display:inline-block;
    width:auto;
    white-space: nowrap;
    overflow:hidden !important;
    text-overflow: ellipsis;
}

.total-actions {
    margin: 30px auto 30px auto;
    width: 70%;
    
}

.total-wishes, .total-trips {
    width: 50%;
    float: left;
    
}

.total-actions h4 {
    color: #0E777F;
    font-family: 'AndesRoundedLight';
    font-size: 1.250em;
    text-align: center;
    line-height. 1.5;
    font-weight: 100;
}

.circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #99E0E5;
    margin: 0 auto

}

.wishes-icon {

}

.trips-icon {

}

.total-wishes h4, .total-trips h4 {
	text-align: center;
	width: 100%;
	margin: 10px 0 0 0;
}

.rating {
	margin: 30px 0 35px 0;
}

.rating p {
    text-transform: uppercase;
    text-align: center;
    color: #585858;
    font-size: 1em;
    font-family: 'AndesRounded-Regular';
}

.rating ul { 
	width: 164px;
	margin: 10px auto;
}

.rating ul li {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin:0 2px;
    border-radius: 50%;
    background-color: #FEEDD1;
}

.mark {
   background-color: #F9A41A !important;
}

.description {
	font-size: 0.875em;
	text-align: center;
	width: 85%;
	margin: 0 auto;
	line-height: 1.4;
    color: #7D7D7D;
    font-family: 'AndesRoundedLight';
}

.verification {
    margin: 30px auto 30px;
}

.verification p {
    text-transform: uppercase;
    text-align: center;
    color: #585858;
    font-size: 1em;
    font-family: 'AndesRounded-Regular';
}

.verification ul {
    width: 85%;
    margin: 20px auto;
}

.verification ul li {
    display: inline-block;
    width: 23%;
}

.verificable {
    width: 27px;
    height: 27px;
    margin: 0 auto 10px;
    border-radius: 50%;
    background-color: #00B2BE;
}


.verification ul li a {
    font-size: 0.85em;
    text-align: center;
    margin: 0 auto;
    display: inline-table;
    font-size: 0.875em;
    color: #7D7D7D;
    font-family: 'AndesRoundedLight';
    width: 100%;
}


/* USER ACTIVITY */

#user-detail-info {
    padding: 30px 0;
    margin: 40px 0 0 0;
}

.upcoming-wishes {
    width:  100%;
    
}

.title {
    clear: both;
    margin: 20px 0 50px;
    display: block;
}

.title span {
    width:  60px;
    height: 60px;
    background-color: #99E0E5;
    float: left;
    border-radius:  50%;
    margin: 0 40px 0 0;
}

.title h2 {
    line-height: 1.75;
    text-align: left;
    font-size: 2.250em;
    color: #0E777F;
}

.title h3 {
  margin: 0 0 0 100px;
    color: #737373;
    font-size: 1.250em;
    font-family: 'AndesRounded-Regular';
    font-weight: 100;
    
}

.backward-forward {
    clear:  both;
    width:  100%;
    height: 25px;
    margin:  25px 0;
}

.backward-forward span {
    float: right;

    display: inline-flex;
    width:  20px;
    height:  20px;
    margin:  0 0 0 10px;
    cursor: pointer;
}

.bw {
    background-color: gray;

}

.fw {
    background-color:  gray;

}

/* CREATE NEW */

.create_card {
    background-color: #ffffff;
    border: 3px dashed #C8C8C8;
    /*outline: #c8c8c8 dashed 2px;*/
    box-sizing: border-box;
    border-radius: 8px;
    display: block;
    position: relative;
    margin-bottom: 30px;
}

.absolute-center {
    width: 50%;
    height: 50%;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

.add-icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
    background: url('../img/icons/new.svg') center center no-repeat;
    
}

.create_card h3 {
    font-sze: 1.500em;
    color: #C8C8C8;
    text-align: center;
    line-height: 1.5;
    position: relative;
    font-family: 'AndesRounded-Regular';
    margin-top: 15px;

}

.create_trip_card {
    height: 165px;
}

.create_wish_card {
    height: 236px;
}



/* REVIEW INFORMATION */

.review {
  width: 48%;
  float: left;
  margin: 20px 2% 40px 0;
  display: inline-block;
  vertical-align: top;
  position: relative;
  height: 290px;
 
}

.user-pic-review {
    border-radius: 50%;
    display: inline-block;
    float: left;
    overflow: hidden;
    width: 80px;
    height: 80px;
}

.review h3 {
    text-align: left;
    float: left;
    margin: 20px;
    font-family: 'AndesRounded-Regular';
    font-size: 1.5em;
    color: #6C6C6C;
    
}

.rating-review {
  margin: 0px 0 40px 20px;
  display: inline-block;
    
}

.rating-review p {
    text-transform: uppercase;
  text-align: left;
  float: left;
  line-height: 1.25;
    color: #585858;
}

.rating-review ul {
  display: inline-block;
  float: left;
  margin: 0 10px;
}

.rating-review ul li {
    display: inline-block;
  width: 16px;
  height: 16px;
  margin: 0 1px;
  border-radius: 50%;
  background-color: #FEEDD1;
}

.description-review {
    font-size: 1em;
  text-align: left;
    color: #7D7D7D;
  width: 85%;
  /* margin: 0 auto; */
  line-height: 1.4;
    font-family: 'AndesRoundedLight';
    font-weight: 200;
}

.review-date {
    width: 100%;
    text-align: left;
    font-size: 0.875em;
    line-height:  1.5;
    color:#C8C8C8;
    font-family: 'AndesRoundedLight';
    font-weight: 100;
}

#user-detail-info {
}


/* EDIT PROFILE */

#user-customize-profile {
    display: inline-block;
    margin-top: 60px;
}

.finish-editing-profile {
    background: url('../img/icons/goback.svg') 10px center no-repeat;
  background-color: transparent;
  appearance: none !important;
  border: none;
  height: 60px;
  width: 100%;
  text-align: left;
  padding: 0 0 0 70px;
  font-family: 'AndesRounded-Regular';
  font-size: 1.250em;
  color: #00B2BE;
  float: left;
  position: absolute;
  top: 0;
  left: 388px;
}

.personal-info {
    margin: 40px 0;
}

.personal-info form {
  margin: 50px 0;
    position: relative;
}

.user-info-edit {
    
}

.small-pic-container {
    float:left;
    width: 120px;
    height: 120px;
}

.small-pic-container img {
    width: 100%;
}

input[type='file'] {
	-webkit-appearance: none !important;
	position: absolute;
	text-align: center;
	-moz-opacity:0 ;
	filter:alpha(opacity: 0);
	opacity: 0;
	z-index: 2;
  top: 0px;
  left: 0;
  width: 120px;
  height: 120px;
  	border-radius: 50%;
  	cursor:pointer;
}

input[type='submit'] {
	cursor: pointer;
	margin: 0;
	padding: 0;
	/*position: absolute;*/
	left: 0;
	top: 0;
	width: 50px;
	height: 50px;
	border-radius:50%;
	}

.fakefile {
	position: relative;
	top: 0px;
	left: 0px;
	z-index: 1;
	cursor: pointer;
}

.unseen {
    display: none;
}

.user-info-edit label {

}

.user-info-edit input:focus {
  outline: none;
    border-bottom: 1px solid gray;
}

.user-info-edit textarea:focus {
    outline: none;
}

.user-info-edit input[type='text'] {
    width: auto;
    appareance: none;
    border: none;
    background-color: transparent;
    line-height: 1.5;
    width: 70%;
    padding:0;
    float: left;
    
    white-space: nowrap;
    overflow:hidden !important;
    text-overflow: ellipsis;
    display:inline-block;
    
}

.edit-name {
    font-size: 2.250em;
    margin: 0 0 0 45px;
    color: #585858;
    font-family: 'AndesRounded-Regular';
    
}

.wide-set {
    margin: 0 0 0 45px;
    display: inline-block;
}

.user-info-edit fieldset {
    border: none;
    padding: 0;
    margin: 80px 0 55px 0;
    width: 100%;
    
}

.set {
    width: 50%;
    margin: 40px 0;
    float: left;
}

.set label {
    width: 100%;
    margin: 0 0 20px 0;
    display: block;
    font-size: 1.5em;
    color: #6C6C6C;
    font-family: 'AndesRounded-Regular';
      line-height: 0.8;
}

.set label:first-child, .label {
    color: #BEC9C9;
    font-family: 'AndesRoundedLight';
    font-weight: 100;
    font-size: 1.250em;
}

.edit-birthday {
    font-size: 1.5em;
    color: #6C6C6C;
    font-family: 'AndesRounded-Regular';
}

/* DATEPICKER */

/* General styles for the whole box */
#ui-datepicker-div {
  background-color: rgba(255,255,255,0.9);
  color: #6C6C6C;
  font-size: 1.1em;
  border-radius: 6px;
  margin: -20px 20px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.3);
  padding: 5px 5px 0 5px;
  box-sizing: content-box;
}


/* The arrows to search by month. Same background, but rotation of 90º and -90ª and floats */
a.ui-datepicker-prev {
    -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  float: left;
}

a.ui-datepicker-next {
    -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  float: right;
}


a.ui-datepicker-prev, a.ui-datepicker-next {
  background:url('../img/icons/dropdown.svg') center center no-repeat;
  content: transparent;
  color: transparent;
  width: 20px;
  height: 20px;
  display: inline-block;
  cursor: pointer;
}

a.ui-datepicker-prev:hover, a.ui-datepicker-next:hover  {
  background:url('../img/icons/dropdown-blue.svg') center center no-repeat;
}

/* Month title */
.ui-datepicker-header {
  padding: 10px 10px 0 10px;
  line-height: 1.4;
  text-align: center;
  color: #00B2BE;
  font-size: 1.25em;
}

.ui-datepicker-title {
  padding: 0 10px;
  font-family: 'AndesRounded-Medium';
}

/* Calendar container */
table.ui-datepicker-calendar {
  margin: 10px auto;
  display: inline-table;
  text-align: center;
  line-height: 1.8;
    width: 270px;
}

/* Numbers */

.ui-datepicker-calendar tr, .ui-datepicker-calendar td {
  padding: 3px;
}

.ui-datepicker-calendar tr {
  font-family: 'AndesRounded-Bold';
}

.ui-datepicker-calendar a {
  color: #909090;
  font-family: 'AndesRounded-Light';

  transition: color 0.1s ease-in-out;
}

.ui-datepicker-calendar a:hover {
  color: #00B2BE;
  background-color: transparent;
}







/* SELECT */


.wide-set .ui-selectmenu-button {
    line-height: 1;
    border: 1px solid #E9E9E9;
    padding: 5px 70px 5px 20px;
    border-radius: 7px;  
    font-size: 1em;
    background: url('../img/icons/dropdown-blue.svg') right center no-repeat;
    background-color: #ffffff;
    width: 100px;
      margin: 0 20px;
    display: inline-block;
    max-width: 200px !important;
   min-width: 160px;
}

.wide-set .ui-selectmenu-text {
    color: #737373;
    font-family: 'AndesRounded-Book';
    line-height: 1.5;
    font-size: 1.25em;
    text-align: center;
}

/* OPEN CONTAINER DROPDOWN (ul) */
.wide-set .ui-menu {
    position: relative;
    margin: 8px auto 0 auto;
    cursor: pointer;
    min-height: 0;
    text-align: center;
    border-radius: 6px;
    border: 1px solid #E9E9E9;
    width: 100px !important;
    /* support: IE7; */
    /* support: IE10, see #8844; */
  }

.wide-set .ui-selectmenu-menu {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  z-index:9999;
}

/* OVERFLOW UL */

.wide-set .ui-selectmenu-menu .ui-menu {
  overflow: auto;
  /* Support: IE7; */
  overflow-x: hidden;  
}

.wide-set .ui-state-focus {
  outline: none;
 }

.wide-set .ui-selectmenu-open {
  display: block;
}







.radio {
    display: inline-block !important;
    float: left;
    width: auto !important;
    margin: 0 20px 0 0 !important;
    line-height: 1.4;
}

.user-info-edit input[type='radio'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    -ie-appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 3px;
    border: 1px solid #979797;
    background-color: white;
    margin: 0 15px 0 0;
    float: left;
    
}

.user-info-edit input[type='radio']:checked {
    background-color: #F9A41A;
    border: 1px solid #F9A41A;       
}

.user-info-edit textarea {
      border: none;
      resize: vertical;
      background-color: transparent;
      width: 100%;
        height: 155px;
      box-sizing: content-box;
        margin: 20px 0 100px 0;
      line-height: 1.25;
        font-size: 1.5em;
    color: #6C6C6C;
    font-family: 'AndesRounded-Regular';
}

.verification-data ul {
  display: inline-block;
}

.verification-data ul li {
  float: left;
  width: 50%;
  margin: 40px 0 0 0;
    height: 100px;
}

.verification-data h4 {
    font-size: 1.1em;
    color: #BEC9C9;
    font-family: 'AndesRounded-Regular';
    font-weight:100;
    line-height: 0.8;
}

.verification-data h5 {
    color: #6C6C6C;
    font-size: 1.3em;
    font-family: 'AndesRounded-Regular';
      line-height: 4;
    float: left;
    font-weight:200;
}

.verification-data a {
  width: 20px;
  height: 20px;
  float: left;
  display: inline-block;
    margin: 32px 0 0 12px;
  border-radius: 50%;
}

.ask {
  background:url('../img/icons/questionmark-white.svg') center center no-repeat;
  background-color:#CECECE;
    background-size: 180%;
}

.verified {
  background:url('../img/icons/verification2.svg') center center no-repeat;
  background-color:#00B2BE;
}

.verification-data input {
  width: 95%;
  height: 40px;
  border: none;
  margin: 20px 0 0;
  border-radius: 6px;
  background-color: #00B2BE;
  color: #ffffff;
}

/*************** Create_wish.php ***************/

.create_wish{
  
}

#first_step{
  margin: 50px auto 150px;
  text-align: center;
  float: none;
  box-sizing:border-box;
  }

.titles_create_wish{
  font-weight: 400;
  color:#737373;
  font-family:'AndesRounded-Book';
  margin-bottom: 40px;
}

#msform {
  /*width: 400px;
  margin: 50px auto;*/
  text-align: center;
  position: relative;
    display: block;
}

#msform fieldset {
  border: 0 none;
  box-sizing: border-box;
  position: absolute;
  display: block;
  margin: 160px auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  width: 100%;
}

#msform fieldset label h1 {
  font-size: 1.5em;
  text-align: center;
  color: #0E777F;
  font-family: 'AndesRounded-Regular';
  font-weight:800;
  margin-bottom: 40px;
}

#msform fieldset:not(:first-of-type) {
  display: none;
}

#msform input[type=text], #msform textarea {
  padding: 15px;
  border: 1px solid #E9E9E9;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  color: #737373;
  font-size: 1.125em;
  line-height: 1.4;
  font-family: 'AndesRoundedLight';
  background-color: #ffffff;
}


#first_step input[type=text] {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 10px;
}

#first_step input[type=button] {
  min-width: 140px;
  margin-top: 30px;
  color:#ffffff;
  border:none;
  text-transform: uppercase;
  line-height:1.2;
}

.form_button{
  float:right;
  background-color:#00B2BE;
  border-width: 0px;
  border-radius: 5px;
  height: 40px;
  color:#ffffff; important!
  border: none;
}

#second_step{
  text-align: center;
  margin: 50px auto 150px;
  float: none;
  box-sizing:border-box;
}

#radio_button_size li{
  display:inline;
}

#radio_button_size .user-info-edit input[type='radio']:checked {
  background-color: #00B2BE;
  border: 1px #00B2BE;
  color: #ffffff;
}

#radio_button_size .user-info-edit input[type='radio'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  -ie-appearance: none;
  /*width: 20px;
  height: 20px;*/
  border-radius: 4px;
  border: 1px solid #00B2BE;
  background-color: white;
  margin: 0 10px 0 0;
  float: left;
}

div#wish-category {
  display: block;
}

fieldset h3 {
  font-size: 1em;
  text-align: center;
  display: block;
  width: 80%;
  margin: 0 auto 10px;
  color: #909090;
  font-family:'AndesRounded-Book'; 
  line-height:1.5;
}

.choose-category {
  float: none;
  display: block !important;
  width: 100%;
  color: #0E777F;
  margin: 20px 0 0 0;
}

.choose-category li {
  display: inline-block;
}

.choose-category label {
  float: left;
  overflow: auto;
  display: inline-block;

  width: 180px;
  height: 60px;
  border-radius: 5px;
  background-color: #ffffff;
  margin: 9px;
  position: relative;
  overflow:hidden;
}

.choose-category label span {
  font-size: 1.25em;
  display: block;

  position: absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  margin: auto;
  border-radius: 5px;

  color: #6C6C6C;
  text-align: left;
   font-family:'AndesRounded-Book'; 
  line-height: 3;
  display: inline-block;
  width: 98%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 2%;
}

.choose-category label span img {
    margin: 8px;
  width: 40px;
  height: 40px;
  border: 2px solid white;
  border-radius: 50%;
  float: left;

}


.choose-category input[type='checkbox'] {
  position: absolute;
  /* top: -800px; */
  width: 100%;
  height: 100% !Important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ie-appearance: none;
  -o-appearance: none;
  border: none;
  z-index: 99;
  cursor: pointer;
  color: #6C6C6C;
  border-radius: 5px;
  overflow: hidden;
}

.choose-category input[type='checkbox']:checked {
  border: 1px solid #0E777F;
  color: #0E777F;
  border-radius: 5px;
}

#wish-description {
  display: inline-block;
  margin: 0 0 80px 0 !important;
  width: 100%;
}

.choose-category textarea {
  height: 180px;
}

#msform textarea {
    width: 100%;
    height: 170px;
    margin: 0 auto;
    /*height: 200px;*/
    padding: 15px;
    box-sizing: border-box;
    resize: vertical;
    margin: 20px auto 0;
  }

  div#wish-photo {
  margin: 0 0 80px 0;
}

#wish-photo input[type='file'] {
  width: 100%;
  height: 100px;
  background-color: #D8D8D8;
  border-radius: 5px;
  margin: 0 auto;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ie-appearance: none;
  -o-appearance: none;
  display: block;
  z-index: 99999; 
  opacity: 0;
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  margin: auto;
}

.upload-photo-box {
  width: 100%;
  border: 2px dashed #D3D3D3;
  border-radius: 5px;
  margin: 0 auto; 
  position:relative;
  display:block;
  box-sizing: border-box;
  margin: 30px 0;
}

.upload-photo-box h3{
  font-family: 'AndesRounded-Light';
  color: #737373;
  font-size:1em;
  text-align: center;
  line-height:1;
  margin-bottom: 25px;
  position: relative;
}

.upload-photo-box span {
  width: 40px;
  height: 40px;
  margin: 20px auto 15px;
  background: url('../img/icons/uploadphoto.svg') center center no-repeat;
  display: block;

}

#wish-photo h2 {
  color: #737373;
  text-align:center;
  font-size:1em;
  font-family: 'AndesRounded-Light';
  margin-top: 20px;
}

.controls {
  width: 75%;
  margin: 40px auto;
}

.controls input {
    margin: 20px;
}

.action-button {
  text-align: center;
  padding: 12px 40px;
  border-radius: 5px;
   -webkit-appearance: none;
  -moz-appearance: none;
  -ie-appearance: none;
  -o-appearance: none;
  border: none;
  min-width: 150px;
    margin: 0 10px 100px;
      text-transform: uppercase;
}

.next-btn-uno, .next-btn-dos {
  background-color: #00B2BE;
  color: #ffffff;
}

.previous-btn {
  background-color: #D8D8D8;
  color:#585858;
}

.end-btn {
  background-color: #F9A41A;
  color: #ffffff;
}



/*
#wish-category ul li {

  float: left;
  margin: 10px;
}

#wish-category ul input {
  width: 184px;
  height: 60px;
  border-radius: 5px;
  background-color: #00B2BE;
  -webkit-appearance: none;
    cursor: pointer;
}

#msform ul label {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  font-size: 1.25em;
  color: #ffffff;
  cursor: pointer;
} */

/*#wish-category li{
    margin:4px;
    background-color:#EFEFEF;
    border-radius:4px;
    border:1px solid #D0D0D0;
    overflow:auto;
    float:left;
}

/*#wish-category input {
   margin-right:100px;
}

#wish-category li:hover {
    background:red;
}

#wish-category li {
    float:left;
    width:4.0em;
}

#wish-category li span {
    text-align:center;
    padding:3px 0px;
   display:block;
}

#wish-category li input {
    position:absolute;
    left: -9999px;
    top: -9999px;
}

#wish-category li input:checked + span {
    background-color:#911;
    color:#fff;
}*/

#wish-size {
  margin: 80px 0;
  clear: both;
}

#radio_button_size {
  margin: 20px 0 0 0;
}


#radio_button_size label {
    margin: 0 35px;
    position: relative;
    width: 60px;
    height: 60px;
    display: inline-block;
}

#radio_button_size input[type='radio'] {
  width: 60px;
  height: 60px;
    -webkit-appearance: none;
  -moz-appearance: none;
  -ie-appearance: none;
  -o-appearance: none;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  pointer: cursor;
  border-radius: 5px;
  
}

#radio_button_size input[type='radio']:checked {
  border: 1px solid #00B2BE;
  border-radius: 5px;
}

#radio_button_size input[type='radio']:focus {
  border: 1px solid #00B2BE;
  border-radius: 5px;
  outline: none;
}

#radio_button_size img {
  width: 40px;
  height: 40px;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;

}

#third_step{
  margin: 50px auto 150px;
  text-align: center;
  float: none;
  box-sizing:border-box;
}

.mid-input input[type="text"] {
  padding-left: 45px !important;
}

.mid-input {
  width: 42%;
  float: left;
  margin: 0 4% 0 4%;
}

.mid-input label h1 {
  font-size: 1.250em !important;
  text-align: left !important;
  width: 100%;
  position: relative;
  color: #6C6C6C !important;
  margin-bottom: 15px !important;
}

.place-icon {
  background: url('../img/icons/location4.svg') left center no-repeat;
}

.date-icon {
  background: url('../img/icons/calendar.svg') left center no-repeat;
}


#wish-final_date input[type="checkbox"] {
  width: 15px;
  height: 15px;
    -webkit-appearance: none;
  -moz-appearance: none;
  -ie-appearance: none;
  -o-appearance: none;
  border-radius: 5px;
  float: left;
  border: 1px  solid #979797;
  background-color: #D8D8D8;
  margin: 12px 0 0 0;
}

#wish-final_date input[type="checkbox"]:checked {
  background-color: #979797;
}

.no-date {
  font-size: 1em;
  text-align: left;
  color: #737373;
  font-family: 'AndesRoundedLight';
  line-height: 1;
  margin-top: 11px;
  display: flex;
  margin-left: 12px;
  float: left;
  width: 86%;
}

#wish-destination, #wish-final_date, #wish-cost, #wish-reward {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 0 80px 0;
}

/* SELECT */


#wish-cost .ui-selectmenu-button {
    line-height: 1;
    border: 1px solid #E9E9E9;
    padding: 5px 70px 5px 20px;
    border-radius: 7px;  
    font-size: 1em;
    background: url('../img/icons/dropdown-blue.svg') right center no-repeat;
    background-color: #ffffff;
    width: 100px;
        margin: 20px 10px;
    display: inline-block;
}

#wish-cost .ui-selectmenu-text {
    color: #737373;
    font-family: 'AndesRounded-Book';
    line-height: 1.5;
    font-size: 1.25em;
    text-align: center;
}

/* OPEN CONTAINER DROPDOWN (ul) */
#wish-cost .ui-menu {
    position: relative;
    margin: 8px auto 0 auto;
    cursor: pointer;
    min-height: 0;
    text-align: center;
    border-radius: 6px;
    border: 1px solid #E9E9E9;
    width: 100px !important;
    /* support: IE7; */
    /* support: IE10, see #8844; */
  }

#wish-cost .ui-selectmenu-menu {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  z-index:9999;
}

/* OVERFLOW UL */

#wish-cost .ui-selectmenu-menu .ui-menu {
  overflow: auto;
  /* Support: IE7; */
  overflow-x: hidden;  
}

#wish-cost .ui-state-focus {
  outline: none;
 }

#wish-cost .ui-selectmenu-open {
  display: block;
}







#wish-reward ul{

}

#wish-reward ul li{
  
}

.choose-reward li {
  display: inline-block;
}

.choose-reward label {
  float: left;
  overflow: auto;
  display: inline-block;
  width: 180px;
  height: 60px;
  border-radius: 5px;
  margin: 9px;
  position: relative;
  overflow:hidden; 
}

.choose-reward input[type='radio'] {
  position: absolute;
  /* top: -800px; */
  width: 100%;
  height: 100% !Important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ie-appearance: none;
  -o-appearance: none;
  border: none;
  z-index: 99;
  cursor: pointer;
  color: #6C6C6C;
  border-radius: 5px;
  overflow:hidden;
}

.choose-reward input[type='radio']:checked {
  border: 1px solid #00B2BE;
  background-color:#fff;
  color: white;
  border-radius: 5px;
    overflow:hidden;
}

.choose-reward label span {
  font-size: 1.25em;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  text-align: left;
  font-family: 'AndesRounded-Book';
  line-height: 3;
  display: inline-block;
  width: 98%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 2%;
  border-radius: 5px;
    z-index: 99;
    overflow:hidden;  
}

.choose-reward label span img {
  margin: 8px;
  width: 40px;
  height: 40px;
  border: 2px solid white;
  border-radius: 50%;
  float: left;
}


/* SELECT */

#wish-reward .select-jquery {
  margin: 20px auto;
}


#wish-reward .ui-selectmenu-button {
    line-height: 1;
    border: 1px solid #E9E9E9;
    padding: 5px 70px 5px 20px;
    border-radius: 7px;  
    font-size: 1em;
    background: url('../img/icons/dropdown-blue.svg') right center no-repeat;
    background-color: #ffffff;
    margin: 20px 10px;
    display: inline-block;
}

#wish-reward .ui-selectmenu-text {
    color: #737373;
    font-family: 'AndesRounded-Book';
    line-height: 1.5;
    font-size: 1.25em;
    text-align: center;
}

/* OPEN CONTAINER DROPDOWN (ul) */
#wish-reward .ui-menu {
    position: relative;
    margin: 8px auto 0 auto;
    cursor: pointer;
    min-height: 0;
    text-align: center;
    border-radius: 6px;
    border: 1px solid #E9E9E9;
    width: 100px !important;
    /* support: IE7; */
    /* support: IE10, see #8844; */
  }

#wish-reward .ui-selectmenu-menu {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  z-index:9999;
}

/* OVERFLOW UL */

#wish-reward .ui-selectmenu-menu .ui-menu {
  overflow: auto;
  /* Support: IE7; */
  overflow-x: hidden;  
}

#wish-reward .ui-state-focus {
  outline: none;
 }

#wish-reward .ui-selectmenu-open {
  display: block;
}








/*************** Progress bar ***************/

#progressbar{
  margin-top:50px;
  margin-bottom:50px;
  overflow: hidden;
  counter-reset: step;
  float: none;
  display: block;
    position: relative;

}

#progressbar li {
  list-style-type: none;
  font-family: 'AndesRounded-Book';
  color: #737373;
  font-size: 14px;
  width: 33.33%;
  float: left;
  position: relative;
  text-align: center;
  z-index: 1;
  }

#progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 40px;
  line-height: 40px;
  display: block;
  font-size: 20px;
  color:#ffffff;
  background: #0E777F;
  border-radius: 50%;
  margin: 0 auto 5px auto;
  }

/*progressbar connectors*/
#progressbar li:after {
  content: '';
  width: 82%;
  height: 5px;
  background: #0E777F;
  position: absolute;
  left: -41%;
  top: 17px;
  z-index: -2;
  margin: 0 auto;
}

#progressbar li:first-child:after {
  /*connector not needed before the first step*/
  content: none;
  }
  /*marking active/completed steps green*/
  /*The number of the step and the connector before it = green*/
#progressbar li.active:before, #progressbar li.active:after {
  background: #F9A41A;
  color: white;
  z-index: 2;
  }



/* ------------ TOOLTIP ------------- */

 .ui-tooltip, .arrow-tooltip:after {
    background-color: #2C353A;
  }
  .ui-tooltip {
    padding: 10px 25px;
    border-radius: 5px;
    font-size: 0.9em;
    font-family: 'AndesRounded-Regular';
    color:#ffffff;
    max-width: 170px;
    text-align: center;

    position: absolute;
    z-index: 9999;
  }
  .arrow-tooltip {
    width: 15px;
    height: 15px;
    overflow: hidden;
    position: absolute;
    top:-5px;
    left: 46%;
    box-shadow: none;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
    background-color: #2C353A;
  }

  .ui-helper-hidden-accessible {
    display:none;
  }


  /*
    .arrow.top {
    top: -16px;
    bottom: auto;
  }
  .arrow.left {
    left: 20%;
  }
  .arrow:after {
    content: "";
    position: absolute;
    left: 20px;
    top: -20px;
    width: 25px;
    height: 25px;
  }
  .arrow.top:after {
    bottom: -20px;
    top: auto;
  }

  */

/* ------------ TOOLTIP ------------- */





@media all and (min-width:1200px) {
    
}

@media all and (max-width:1199px) {
  

.finish-editing-profile {
  background: url('../img/icons/goback.svg') 10px center no-repeat;
  background-color: transparent;
  appearance: none !important;
  border: none;
  height: 60px;
  width: 66.5%;
  text-align: left;
  padding: 0 0 0 60px;
  font-family: 'AndesRounded-Regular';
  font-size: 1.250em;
  color: #00B2BE;
  float: left;
  position: relative;
  top: inherit;
  left: inherit;
}
}

@media all and (max-width:1023px) {
       .lan-cur {
           margin: 0 auto;
       }
    
        .social {
           margin: 0 auto;
               
       } 

        .user-info {
        padding: 20px 0;
        width: 100%;
    }
    
    .verification ul li a { 
        display: block;
    }
    
    .user-general-info {
         padding-bottom:0;   
    }
    
    .ficha-user {
        margin: 20px auto;
        display: block;
        width: 80%;    
    }
    
    .user-picture {
      width: 130px;
      height: 130px;
      margin: 0 0 10px 0;
      float: left;
    }
    
    .user-info h2 {
        font-size: 2.225em;
        text-align: left;
        margin: 0 0 0 20px;
        display: inline-block;
        width: 65%;
    }
    
    .location {
        margin: 0 0 0 20px;
        display: inline-block;
        width: 65%;
    }
    
    .finish-editing-profile {
        appearance: none !important;
        border: none;
        height: 60px;
        width: 100%;
        background: #C8C8C8;
        text-align: center;
        padding: 0;
        font-family: 'AndesRounded-Regular';
        font-size: 1.250em;
        color: #fff;
        float: none;
        position: relative;
        margin: 40px auto;
        display: inline-block;
          left: inherit;
  top: inherit;
}

    .verification-data h5 {
        font-size: 1em;
        line-height: 5;
   
    }
    
        .margin-left {
        margin-left: 15% !important;
        width: 42% !important;
    }
    
    .short-delivery-date {
        width: 42% !important;
    }
    
    
    #details_home li {
      width: 30px;
      height: 30px;
      margin: 8px 0 0 3%;
    }
    
}







@media all and (max-width:767px) {
    
    .margin-left {
        margin-left: 0 !important;
        width: 50% !important;
    }
    
    .short-delivery-date {
        width: 50% !important;
    }
    
    #details_home li {
      width: 30px;
      height: 30px;
      margin: 8px 0 0 3%;
    }
}

@media all and (max-width:568px) {
        
        .user-picture {
      width: 30%;
      height: 30%;
      margin: 0 0 10px 0;
      float: left;
    }
    
    .user-info h2 {
        font-size: 1.500em;
        text-align: left;
        margin: 0 0 0 7%;
        display: inline-block;
        width: 63%;
    }
    
    .location {
        margin: 0 0 0 7%;
        display: inline-block;
        width: 63%;
    }

    .user-info h4 {
         width: 80%;
    }
    
    .title h2 {
         font-size: 1.500em;  
        line-height: 1.6;
    }
    
    .title span {
        width: 40px;
        height: 40px;
        margin: 0 30px 0 0;
    }
    
    .review {
        width: 100%;
        margin: 20px 3% 40px 3%;
        height: auto;
    }
    
    .description-review {
        width: 100%;
    }
    
    .verification-data ul {
        width: 100%;
    }
    
    .verification-data ul li {
      float: none;
      width: 100%;
        margin: 40px 0;
        height: 80px;
    }
    
    .verification-data input {
          width: 100%;
    }
    
    .user-info-edit textarea {
        line-height: 1.5;
        font-size: 1em;
    }

    #radio_button_size label {
        width: 58px;
        height: 58px;
    }

    #radio_button_size label {
  margin: 0px;
}
    
}







