/*Mari*/


/*Wish_board.php*/

#wish_trips{
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

#user-search{
	margin-bottom: 20px
}

.input-trips {
	width: 285px;
	height: ;
	border-radius: 5px;
	margin-right:8px;
}


#filters{
	margin-top: 20px
}

#trip-boards{
	margin-top: 20px;
	display: inline-block; important!
}

#wisher_card{
	border-radius: 6px;
	border: 2px solid #E4DFDF;
	height:240px;
	float: left;
	margin-bottom: 20px;
}

#basic_info_home li{
	display:inline-block;
}

#basic_info_home li:nth-child(2) {
    vertical-align:top;
    margin-top:20px; 
	margin-left:10px;
}

#basic_info_home li:nth-child(3) {
    float:right;
    margin-top:20px;
}

.display_inline_block{
	display:inline-block;
}

#destination_home{
	margin-top: 20px;
  	margin-left: 75px;
    margin-right: 150px;
	float:left;
}

#details_home{
	margin-top: 20px;
	float:left;
}



#details_home li {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: gray;
  display: inline-block;
  margin-top: 10px;
}

button{
	background-color:gray;
	color:#ffffff;
	border:0;
	border-radius: 5px;
	width: 150px;
	height: 40px;
}


.button_look{
	font-size: 15px;
	border-radius: 0 0 5px 5px;
	color:#ffffff;
	background-color: #E4DFDF;
	position: absolute; 
	bottom: 0;
	height: 40px;
	width: 100%;
	text-align: center;
}

.button_look a{
	text-decoration: none;
}


.button_look h4{
	color:#939393;
	margin-top:15px;
}

.center{
	text-align: center;
}




