 /*Mari*/
 
.divspoiler{
	cursor:pointer;
}


/*************** General fondo blanco total en laterales ******************/

.fondoblanco{
	background-position: -10%;
	background-repeat: repeat-y;
	background-image: url("../img/white.jpg");
}

@media only screen and (min-width : 320px) and (max-width : 480px) {
	.fondoblanco{
		background-image: none;
	}
}

@media only screen and (min-width : 480px) and (max-width : 660px) {
   .fondoblanco{
		background-image: none;
	}

}

@media only screen and (min-width : 660px) and (max-width : 870px) {
	.fondoblanco{
		background-image: none;
	}   

}

@media only screen and (min-width : 870px) and (max-width : 1024px) {
   .fondoblanco{
		background-image: none;
	}
}


/*************** Wish_board.php ***************/

#header_wishboard {
  background-color: #00B2BE;
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
}

#wish_trips {
  text-align: center;
  box-sizing: border-box;
  padding: 25px 0;
  background-color: #00B2BE;
  position: relative;
}

.triangle-down{
    width: 2.5%;
    height: 0;
    padding-left:2.5%;
    padding-top: 2.5%;
    overflow: hidden;
    position: absolute;
    left:0;right:0;
    margin:auto;
    top: 100px;
    z-index:1;
}

.triangle-down:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    margin-left:-50px;
    margin-top:-50px;
    
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 50px solid #00B2BE
}

#wish_trips li{
  display: inline-block;
}


#wish_trips li button{
 	background-color: #0E777F;
 	color:#fff;
 	text-transform: uppercase;
 	padding-right: 14px;
}

#wish_trips li button a:visited{
 	color:#fff;
}

#wish_trips li img{
 	vertical-align: middle;
}

#wish_trips li:nth-child(2){
 	color:#fff;
 	text-transform: uppercase;
 	font-family: 'AndesRounded-Bold',Helvetica, Arial, sans-serif;
 	font-size:1.2em;
 	margin-left:15%;
 	margin-right:20%;
}

#wish_trips li:nth-child(2) a:link{
 	color:#fff;
}

#wish_trips li:nth-child(2) a:visited{
 	color:#fff;
}

#wish_trips li:nth-child(2) a:hover{
 	color:#08484D;
}

#wish_trips li:nth-child(3){
 	color:#fff;
 	text-transform: uppercase;
 	font-family: 'AndesRounded-Bold',Helvetica, Arial, sans-serif;
 	font-size:1.2em;
}

#wish_trips li:nth-child(3) a:link{
 	color:#0E777F;
}

#wish_trips li:nth-child(3) a:visited{
 	color:#0E777F;
}

#wish_trips li:nth-child(3) a:hover{
 	color:#ffffff;
}

#header-search{
	background-color: #fff;
	padding-top:50px;
	padding-bottom: 20px;
	/*box-shadow: 0px 1px 10px #D8D8D8;*/

}

#header-searh .main-container{
		box-shadow: 0px 1px 10px #D8D8D8;
}

#header-search h4{
	color:#00B2BE;
	font-family: 'AndesRounded-Regular',Helvetica, Arial, sans-serif;
	margin-bottom: 20px;
	text-align: center;
}

#user-search{
	margin-bottom: 50px;
	vertical-align: middle;
}

#user-search form div{
	display: inline-block;
}


.input-trips {
	width: 30%; /*285px*/
	height: 30px;
	padding: 10px;
	border-radius: 5px;
	border: 1.5px solid #E9E9E9;
	margin-right:8px;
	color: #909090;
}

.input-trips:focus {
	border: 2px solid #00B2BE;
	outline: none !important;
	color:#00B2BE;
	box-shadow: 0px;
	outline-color: transparent;
  	outline-style: none;
}

#user-search form img{
	vertical-align: middle;
}

/*Botones SUBMIT*/
#user-search input[type="submit"] {

    /*cursor: pointer;
  	background-color:gray;
	color:#ffffff;
	border:0;
	border-radius: 5px;
	width: 150px;
	height: 40px;
	background-color: transparent;
	border-radius: 0px;
	background-image: url(img/icons/search.svg);*/

	background-color: transparent;
  	border-radius: 0px;
  	border: none;
  	width: 120px;
  	margin:0px 10px 0px 10px;
  	text-transform: uppercase;
  	color:#6C6C6C;
}

.outline{
	  background-color: transparent;
}

#filters{
	margin-top: 20px
}

#filters img.ui-datepicker-trigger {
      position: relative;
      left: -20px;
  	  top: 15px;
}

#filters .board_date{
   color:#6C6C6C;
   margin: 10px;
   border:0px;
   border-radius: 0px;
   background: transparent;
   width: 150px;
   padding: 5px 35px 5px 5px;
   font-size: 16px;
   font-family: 'AndesRounded-Light',Helvetica, Arial, sans-serif;
   border-bottom: 1.5px solid #6C6C6C;
   background-image: url('../img/icons/dropdown.svg');
   background-repeat: no-repeat;
   background-position: right center;
}

.board_date ::-webkit-input-placeholder{
	   font-family: 'AndesRounded-Light',Helvetica, Arial, sans-serif;
	    color:#6C6C6C;
}

#filters select{
   /*margin: 50px;*/
   /*border: 1px solid #111;*/
   color:#6C6C6C;
   margin: 10px;
   border:0px;
   border-radius: 0px;
   background: transparent;
   width: 120px;
   padding: 5px 35px 5px 5px;
   font-size: 16px;
   font-family: 'AndesRounded-Light',Helvetica, Arial, sans-serif;
   border-bottom: 1.5px solid #6C6C6C;
   height: 34px;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   background-image: url('../img/icons/dropdown.svg');
   background-repeat: no-repeat;
   background-position: right center;
} 

#filters select:focus {
	box-shadow: 0px;
	outline-color: transparent;
  	outline-style: none;
}

/*#filter input[type="submit"] {
  background-color: transparent;
  border-radius: 0px;
  border: none;
  width: 100px;
  text-transform: uppercase;
}*/

.clear_filter{
  background-color: transparent;
  border-radius: 0px;
  border: none;
  text-transform: uppercase;
  color:#6C6C6C;
}

#wish-description-home{
	display:inline-block;
	margin-top: 20px;
}

#wish-description-home img{
	float:left;
	margin-right: 30px;
}


#wish-boards{
	margin-top: 50px;
	display: inline-block; 
}

#wisher_card{
	box-sizing:border-box;
   -moz-box-sizing:border-box;
   -webkit-box-sizing:border-box;
   	border-radius: 6px;
	border: 1px solid #D7E1E1;/*E4DFDF*/
	height: auto;
	float: left;
	margin-bottom: 20px;
}

#basic_info_home li{
	display:inline-block;
}

#basic_info_home li:nth-child(2) {
    vertical-align:top;
    margin-top:20px; 
	margin-left:10px;
	line-height: 20px;
	font-family: 'AndesRounded-Regular',Helvetica, Arial, sans-serif;
	color:#0E777F;

}

#basic_info_home li:nth-child(3) {
    float:right;
    margin-top:20px;
}



.display_inline_block{
	display:inline-block;
}

#destination_home{
	margin-top: 20px;
  	margin-left: 75px;
    margin-right: 100px;
	float:left;
}

#destination_home h4{
	color:#737373;
	font-family: 'AndesRounded-Regular',Helvetica, Arial, sans-serif;
}

#destination_home p{
	color:#BEC9C9;
}

#details_home{
	margin-top: 20px;
	float:left;
}


#details_home li {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  /*background-color: gray;*/
  display: inline-block;
  margin-top: 10px;
}

#details_home p {
	color:#BEC9C9;
}

#details_home h4 {
	color:#737373;
}

button{
	/*background-color:gray;*/
	/*color:#ffffff;*/
	/*width: 150px;*/
	border:0;
	border-radius: 5px;
	height: 40px;
}

.button_look{
	font-size: 15px;
	border-radius: 0 0 4px 4px;
	color:#ffffff;
	background-color: #00B2BE;
	position: relative;  
	bottom: 0;
	height: 40px;
	width: 100%;
	text-align: center;
}

.button_look h4{
	color:#ffffff;
  	padding-top: 8px;
  	font-family:'AndesRounded-Regular',Helvetica, Arial, sans-serif;
  	text-transform: uppercase;
}

.center{
	text-align: center;
}

/*Media queries wish-boad*/

/*Mobile*/
@media only screen and (min-width : 320px) and (max-width : 480px) {
    
    #destination_home{
		margin-top: 20px;
	    margin-right: 100px;
	    margin-left: 10px;

	}

    .input-trips {
	  margin-bottom: 8px;
	  width: 94%;
	}

	#user-search input[type="submit"]{
		width: 100%;
	}

	.outline {
		display:none;
	}


	.triangle-down{
		display:none;
	}


	#wish_trips li button{
		display:none;
	}

	#wish_trips  li:nth-child(2){
		margin-right: 0;
		margin-left: 0;

	}

	#wish-description-home{
		width: 80%;
	}

	#wish-description-home img{
		margin-right: 5px;
	}

}

/*768 o 847*/
@media only screen and (min-width : 480px) and (max-width : 660px) {
   

	#destination_home{
		margin-top: 20px;
	    margin-right: 20px;
	    margin-left: 20px;

	}

	#wisher_card{
		  height: auto;
	}

	.input-trips {
		  width: 180px;
		  margin-bottom: 8px;
	}


	#basic_info_home li:nth-child(2) {
		width: 63%;
		margin-top: 10px;
	}

	#details_home {
  		/*margin-left: 20px;*/
	}


}

@media only screen and (min-width : 660px) and (max-width : 870px) {
   
	#destination_home{
		margin-top: 20px;
	    margin-right: 40px;
	    margin-left: 20px;

	}

	#basic_info_home li:nth-child(2) {
		width: 70%;
		margin-top: 10px;
	}



}


/*Tablet*/
@media only screen and (min-width : 870px) and (max-width : 1024px) {
   

	#destination_home{
		margin-top: 20px;
	    margin-right: 80px;
	    margin-left: 40px;
	}

}



/*************** Trip_board.php ***************/

#header_tripboard{
  background-color: #0E777F;
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
}

#traveler_trips{
  text-align: center;
  box-sizing: border-box;
  padding: 25px 0;
  background-color: #0E777F;
  position: relative;
}

.triangle-down-2{
    width: 2.5%;
    height: 0;
    padding-left:2.5%;
    padding-top: 2.5%;
    overflow: hidden;
    position: absolute;
    left:0;right:0;
    margin:auto;
    top: 100px;
    z-index:1;
}

.triangle-down-2:before{
    content: '';
    display: block;
    width: 0;
    height: 0;
    margin-left:-50px;
    margin-top:-50px;
    
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 50px solid #0E777F;
}

#traveler_trips li{
  display: inline-block;
}


#traveler_trips li button{
 	background-color: #00B2BE;
 	color:#fff;
 	text-transform: uppercase;
 	padding-right: 14px;
}

#traveler_trips li button a:visited{
 	color:#fff;
}

#traveler_trips li button a:link{
 	color:#fff;
}

#traveler_trips li img{
 	vertical-align: middle;
}

#traveler_trips li:nth-child(2){
 	color:#fff;
 	text-transform: uppercase;
 	font-family: 'AndesRounded-Bold',Helvetica, Arial, sans-serif;
 	font-size:1.2em;
 	margin-left:15%;
 	margin-right:20%;
}

#traveler_trips li:nth-child(2) a:link{
 	color:#fff;
}

#traveler_trips li:nth-child(2) a:visited{
 	color:#fff;
}

#traveler_trips li:nth-child(2) a:hover{
 	color:#08484D;
}

#traveler_trips li:nth-child(1){
 	color:#00B2BE;
 	text-transform: uppercase;
 	font-family: 'AndesRounded-Bold',Helvetica, Arial, sans-serif;
 	font-size:1.2em;
}

#traveler_trips li:nth-child(1) a:link{
 	color:#00B2BE;
}

#traveler_trips li:nth-child(1) a:visited{
 	color:#00B2BE;
}

#traveler_trips li:nth-child(1) a:hover{
 	color:#08484D;
}



.float-left{
	float:left;
}

#trip-boards{
	margin-top: 50px;
	margin-bottom: 50px;
	display: inline-block; important!
}

/*#tripper_card{
	box-sizing:border-box;
   -moz-box-sizing:border-box;
   -webkit-box-sizing:border-box;
   	border-radius: 6px;
	border: 2px solid #E4DFDF;
	height: auto;
	float: left;
	margin-bottom: 20px;
}*/

#trip-description{
	display:inline-block;
	margin-top: 20px;
}

#trip-description img{
	float:left;
	margin-right: 30px;
}

.text-description{
	margin-top:10px;
}

.text-description h4{
	color:#909090;
	font-weight: 300;
	margin-bottom: 15px;
	font-family:'AndesRounded-Light',Helvetica, Arial, sans-serif;
}

.text-description h3{
	color:#909090;
	font-family:'AndesRounded-Regular',Helvetica, Arial, sans-serif;
}


#trip_home{
	margin-top: 20px;
  	margin-left: 75px;
    margin-right: 100px;
	float:left;
}

#basic_info_home_trips{
	float:left;
}

#destination_home_trips {
  	margin-top: 10px;
  	margin-left: 30px;
  	margin-right: 90px;
  	float: left;
}

#destination_home_trips p {
  	  color: #BEC9C9;
  	  font-size: 0.875em;
}

#destination_home_trips h4 {
  	 color: #737373;
  	 font-family: 'AndesRounded-Regular';
}


#details_home_trips{
	margin-top: 10px;
	float:left;
}

#details_home_trips li {
  	width: 40px;
  	height: 40px;
  	border-radius: 50%;
  	display: inline-block;
  	margin-top: 10px;
  	margin-right:10px;
}


#details_home_trips p{
	 color: #BEC9C9;
  	  font-size: 0.875em;
}

#details_home_trips h4{
	color: #737373;
  	 font-family: 'AndesRounded-Regular';

}

/*Media queries trip-boad*/

@media only screen and (min-width : 768px) and (max-width : 1024px) {
   

	#destination_home_trips{
	  	margin-right: 60px;
	  	margin-left: 16px;
	}


}

@media only screen and (min-width : 660px) and (max-width : 870px) {
   

	#destination_home_trips{
	  	margin-right: 40px;
	}


}

@media only screen and (min-width : 480px) and (max-width : 660px) {
   

	#destination_home_trips{
	  	margin-right: 30px;
	  	margin-left: 16px;
	}

	#details_home_trips{
		margin-top: 10px;
		margin-left: 16px;
		float:left;
	}

}


@media only screen and (min-width : 320px) and (max-width : 480px) {
    
	#destination_home_trips{
	  	margin-right: 40px;
	  	margin-left: 20px;
	}

	#traveler_trips li button{
		display:none;
	}

	.triangle-down-2{
		display:none;
	}

	#traveler_trips li:nth-child(2){
		margin-right: 0;
		margin-left: 0;

	}

	.stella  {
  		margin-left: auto;
  		margin-right: auto;
  		display: block;
  	}

  	#trip-description{
		width: 75%;
	}

	#trip-description img{
		margin-right: 5px;
	}

}

/*************** traveller.php ***************/

#info-arrival{
	margin-top: 30px;
}

#info-arrival h3 {
  color: #6C6C6C;
  margin-top: 85px;
}

#actions-travel{
	margin-top: 10px;
	float:right;
	text-transform: uppercase;
}

#actions-travel span img{
	vertical-align: middle;
}

#actions-travel li{
	width: 250px;
}

#actions-travel li:nth-child(1) button {
	width: 250px;
	background-color:#F9A41A;
	color: #ffffff;
	margin-bottom: 5px;
	margin-top: 94px;
	text-transform: uppercase;
}

#actions-travel li:nth-child(2){
	width: 250px;
	margin-top: 15px;
	background-color:none;
	color:#0E777F;
	text-align:center;
}


@media only screen and (min-width : 320px) and (max-width : 480px) {
		    	
	#actions-travel li:nth-child(1) button {
  		width: 300px;
  		margin-top: 24px;
	}

	#info-arrival h3 {
  		margin-top: 25px;
	}

	#actions-travel {
  		float: left; 
	}

	#actions-travel li:nth-child(2) {
  		width: 300px;
  		text-align: center;
	}


}

@media only screen and (min-width : 480px) and (max-width : 660px) {

	#actions-travel li:nth-child(1) button {
  		width: 300px;
  		margin-top: 24px;
	}

	#info-arrival h3 {
  		margin-top: 25px;
	}

	#actions-travel {
  		float: left; 
	}

	#actions-travel li:nth-child(2) {
  		width: 300px;
  		text-align: center;
	}

}


@media only screen and (min-width : 660px) and (max-width : 870px) {

	#actions-travel li:nth-child(1) button {
  		width: 300px;
  		margin-top: 24px;
	}

	#info-arrival h3 {
  		margin-top: 25px;
	}

	#actions-travel {
  		float: left; 
	}

	#actions-travel li:nth-child(2) {
  		width: 300px;
  		text-align: center;
	}

}


/*Tablet*/
@media only screen and (min-width : 870px) and (max-width : 1024px) {
	  
	  #info-arrival h3 {
	  font-size:1.3em;
		}


}





/*************** product.php ***************/

#product-main-info{
	margin-top: 80px ;
}

#product-main-info .title h2{
	margin-bottom: 20px ;
	color: #0E777F;
	font-family:'AndesRounded-Regular';
}

#basic-info-product{
	background-color: #F5F6F6;
	box-sizing:border-box;
   -moz-box-sizing:border-box;
   -webkit-box-sizing:border-box;
   	border-radius: 10px;
	border: 2px;
	padding: 40px;
	height: auto;

}

#user-profile-info-product{
	float:left;
}

#user-profile-info-product h3{
	color:#6C6C6C;
	font-family:'AndesRounded-Regular';

}

#user-profile-info-product img{
	margin-bottom: 20px;
	margin-right: 85px;	
}

#product-details{
	float:left;
	
}

#destination-product li{
	display:inline-block;
}

#destination-product li:nth-child(1){
	margin-right:50%;
}

/*#destination-product li:nth-child(2){
	margin-right:0px;
}*/

#destination-product li p{
	color:#BEC9C9;
	margin-bottom: 2px;
	font-weight: 300;
	font-size: 20px;
}

#destination-product li h3{
	color:#6C6C6C;
	font-family: 'AndesRounded-Regular',Helvetica, Arial, sans-serif;
}


#info-product{
	margin-top: 30px;
}

#info-product h3{
	color:#6C6C6C;
}

#info-product h4{
	font-size: 16px;
	color:#6C6C6C;
	margin-top: 15px;
	font-family: 'AndesRounded-Regular',Helvetica, Arial, sans-serif;
}

#info-product p{
	font-size: 14px;
	color:#6C6C6C;
	font-family: 'AndesRounded-Book',Helvetica, Arial, sans-serif;
}


#actions{
	margin-top: 10px;
	float:right;
	text-transform: uppercase;
}

/*#actions li{
	margin-bottom: 10px;
	margin-top: 10px;
}*/

#actions span img{
	vertical-align: middle;
}

#actions li:nth-child(1) button {
	width: 200px;
	background-color:#F9A41A;
	color: #ffffff;
	margin-bottom: 5px;
	margin-top: 10px;
	text-transform: uppercase;
}

#actions li:nth-child(2) button {
	width: 200px;
	background-color:#00B2BE;
	color: #ffffff;
	margin-bottom: 5px;
	margin-top: 10px;
	text-transform: uppercase;
}

#actions li:nth-child(3){
	margin-top: 15px;
	width: 200px;
	background-color:none;
	color:#0E777F;
	text-align:center;
}

#detail-info-product{
	margin-top:50px;
	margin-bottom:50px;
	/*float:left;*/
}

#product-details{
	margin-top:20px;
}

#description-product h3{
	margin-bottom: 20px;
	color:#0E777F;
	font-family: 'AndesRounded-Regular',Helvetica, Arial, sans-serif;
}

#description-product p{
	margin-bottom: 40px;
	color:#6C6C6C;
	font-size:16px;
	font-family: 'AndesRounded-Light',Helvetica, Arial, sans-serif;
}

#details-product li h3{
	vertical-align: middle;
	display:inline-block;
	margin-right:12px;
	margin-bottom: 15px;
	color:#0E777F;
	font-family: 'AndesRounded-Regular',Helvetica, Arial, sans-serif;
}

#details-product li h5{
	color:#737373;
	margin-bottom: 15px;
	margin-left: 52px;
	font-family: 'AndesRounded-Regular',Helvetica, Arial, sans-serif;
}

.drop1{
	  margin-left: 52px;
}

.drop2{
	  margin-left: 52px;
}

.drop3{
	  margin-left: 52px;
}

.drop3 h4{
	  color:#6C6C6C;
	  margin-bottom: 10px;
}


.icon-size{
  	/*margin-bottom:15px;*/
  	border-radius: 20%;
  	border-style: solid;
  	border-color:#F9A41A;
  	border-width: 2px;
  	padding: 2px 6px 2px 6px;
  	font-size:20px;
  	color:#F9A41A; 
}

.icon-circle{
	width: 40px;
    height: 40px;
    border-radius: 50%;
    /*background-color: gray;*/
}



/*Slider de imagenes*/	

#gallery-product{
	float:left;

}

.gallery {
	  background: #ffffff;
	  border-radius: 10px;
  	  padding: 5px;
  	  border-style: solid;
  	  border-width:thin;
      border-color: #D3D3D3;
}

.gallery img {
	  display: block;
	  height: 250px;
	}

/*
.flickity-prev-next-button {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  background: #00B2BE;
}

.flickity-prev-next-button:hover {
  background: #F90;
}

/* arrow color*/
/*.flickity-prev-next-button .arrow {
  fill: white;
}

.flickity-prev-next-button.no-svg {
  color: white;
}*/

/* position outside*/
/*.flickity-prev-next-button.previous {
  left: -40px;
}

.flickity-prev-next-button.next {
  right: -40px;
}*/

#recomendations{
	width:100%;
	background-color:#ffffff !important;
}

#similar-wishes{
	margin-bottom: 40px;
}

#similar-wishes h2{
	margin-bottom: 40px;
	margin-top: 40px;
	color:#0E777F;

}

/*Media queries product page*/

@media screen and ( min-width: 768px ) {
	  .gallery img {
	    height: 300px;
	  }
	}

/*Mobile*/
@media only screen and (min-width : 320px) and (max-width : 480px) {
		    	
		#product-main-info {
		  margin-top: 25px;
		}


		#product-main-info .title h2 {
		  font-size:24px;
		  text-align: center;
		}

		#basic-info-product {
		  /*border-radius: 0px;*/
		  border: 0px;
		  width: 100%;
		  padding: 20px;
		}

		#user-profile-info-product img{
			display: block;
    		margin-left: auto;
    		margin-right: auto;
		}

		#user-profile-info-product h3{
			text-align: center;
		}

		#product-details{
			/*margin-left: 40px;*/
		}

		#destination-product li:nth-child(1){
			margin-right:50%;
		}

		#user-profile-info-product{
			float:none;
		}


		#gallery-product{
			margin-top: 30px;
		}

		#actions{
		   margin:0 auto;
		}

		#actions button {
		  /*width: 320px;*/
		  width: 100%;
		}
/*No le sirve boton 100%?*/
		#actions li:nth-child(1) button{
			
			margin-top: 20px; 
			width: 300px;
		}

		#actions li:nth-child(2) button{
			width: 100%;
		}

		#actions li:nth-child(3) {
			width: 100%;
		  	margin-top: 20px;
		}



}

@media only screen and (min-width : 480px) and (max-width : 660px) {

	#basic-info-product {
		 padding: 30px;
	}

	#user-profile-info-product img {
 	 	margin-right: 40px;
	}
   
	#destination-product li:nth-child(1){
		margin-right:20%;
	}


	#actions{
		float:left;
		margin:0 auto;
	}

	#actions li {
		  margin:20px 5px 5px 5px;
		  display:inline-block;
	}

	#actions li:nth-child(3) {
		  	margin-top: 20px;
	}


	#actions button {
		width: 120px;

	}

	#user-profile-info-product h3 {
  		font-size: 1.3em;
	}

	#info-product h3 {
  		font-size: 1.3em;
	}

}


@media only screen and (min-width : 660px) and (max-width : 870px) {

	#user-profile-info-product img {
 	 	margin-right: 60px;
	}


	#destination-product li:nth-child(1){
		margin-right:30%;
	}


	#info-product h3 {
  		  font-size: 1.2em;
	}

	#actions button {
		width: 180px;
	}


}


/*Tablet*/
@media only screen and (min-width : 870px) and (max-width : 1024px) {
   
	#destination-product li:nth-child(1){
		margin-right:40%;
	}


}


/*************** product-user.php ***************/


#intro-recomendations{
	width:100%;
	background-color: #ffffff;

}

#title-negociations{
	margin-top:20px;
	margin-bottom: 20px;
}

#title-negociations h2{
	color:#ffffff;
	font-family: 'AndesRounded-Light',Helvetica, Arial, sans-serif;
}

#title-negociations h2 img{
	vertical-align: middle;
}

#actions-user{
	margin-top: 10px;
	float:right;
	text-transform: uppercase;
}

#actions-user span img{
	vertical-align: middle;
}

#actions-user li:nth-child(1)  {
	display:inline-block;
	float:right;
}

#actions-user li:nth-child(2) button {
	width: 200px;
	background-color:#00B2BE;
	color: #ffffff;
	margin-bottom: 5px;
	margin-top: 80px;
	text-transform: uppercase;
	float:right;
}

#negociations{
	margin-bottom: 40px;
}

#negociations h2{
	margin-bottom: 40px;
	margin-top: 40px;
	color:#0E777F;

}

#recomendations-user{
	width:100%;
	background-color:#00B2BE !important;
}

#table-negociations table{
	 width: 100%;
	 margin-top: 40px;
}

.choose-traveler fieldset {
	 border: none;
 }


.choose-traveler table {
	  background: white;
	  margin-bottom: 1.25rem;
	  border: solid 1px #dddddd;
	  table-layout: auto;
}

.choose-traveler table thead {
	   border-bottom: blue;
	   vertical-align: middle;
}


.choose-traveler table {
	  display: table;
	  border-collapse: collapse;
	  border-spacing: 0;
}

.table-image a img{
	margin: 0 auto;

}
 
 .choose-traveler table thead tr th {
	  padding: 0.5rem 0.625rem 0.625rem;
	 
}

 .choose-traveler table thead tr th h4 {
 	 text-transform: uppercase;
 	  font-size: 1.2rem;
 	  text-transform: uppercase;
	  font-family: 'AndesRounded-Regular',Helvetica, Arial, sans-serif;
	  color: #0E777F;
	  vertical-align: middle !important;
}

.choose-traveler table tr td {
	  padding: 0.5625rem 0.4rem;
	  font-size: 1rem;
	  color: #6C6C6C !important;
	  text-align: center;
}

/*.choose-traveler table tr th img{
	vertical-align: middle;
	margin-right: 20px;
}*/

.choose-traveler tbody {
	  display: table-row-group;
	  vertical-align: middle;
	  border-color: inherit;
}


.choose-traveler tr {
	  display: table-row;
	  vertical-align: inherit;
	  /*border-color: inherit;*/
	   border-style: solid;
    border-color: #F5F6F6;
}

.choose-traveler table tr:nth-of-type(3) {
  background: #E7FAF0;

}

.choose-traveler table tr td:nth-of-type(2) {
	text-align: left;

}



@media only screen and (min-width : 320px) and (max-width : 480px) {


		.choose-traveler table tr td:nth-of-type(2) {
			display:none;
		}

		.choose-traveler table thead tr th{
  			padding: 0.5rem 0.26rem 0.625rem;
		}

		.choose-traveler table tr td {
	  		padding: 0.5625rem 0.1rem;

	  	}

	  	.choose-traveler table thead tr th h4 {
	  		display:none;
	  	}

	  	#actions-user{
		   margin:0 auto;
		}

		#actions-user button {
		  
		  width: 100%;
		}

		#actions-user li:nth-child(1) button{
			
			margin-top: 20px; 
		
		}

		#actions-user li:nth-child(2) button{
			width: 300px;
			float:left;
			margin-top: 10px;
		}

}

@media only screen and (min-width : 480px) and (max-width : 660px) {


	#actions-user{
		float:left;
		margin:0 auto;
	}

	#actions-user li {
		  margin:20px 5px 5px 5px;
		  display:inline-block;
	}


	#actions-user button {
		width: 120px;

	}

	#actions-user li:nth-child(2) button{
			margin-top: 10px;
		}


}

@media only screen and (min-width : 660px) and (max-width : 870px) {


	#actions-user button {
		width: 180px;
	}

}

/*************** product_details.php ***************/

.chat-general-info {
  background-color: white;
  padding-bottom:50% ;
  /*100%*/
  margin: 0 auto;
  width: 40%;
}


#chat-product {
   
}

.deal-info{
  padding: 50px 0px 0px 0px;
  width: 80%;
  margin: 0 auto;
}

.deal-info h3{
	color:#0E777F;
	font-family: 'AndesRounded-Regular',Helvetica, Arial, sans-serif;
	margin-bottom:30px;
}

.deal-info h4{
	color:#6C6C6C;
	font-family: 'AndesRounded-Bold',Helvetica, Arial, sans-serif

}

textarea {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 3px;
  border-color: #E9E9E9;
  font-size: 1em;
  width: 100%;
  height: 7rem;
  margin: 0 0 1em 0;
  padding:10px;
}

textarea:focus{
      border-color: #E9E9E9;
}

#buttons-process button{
	width: 100%;
	color:#ffffff;
	background-color: #D3D3D3;
	text-transform: uppercase;;
	margin-top: 40px;
}

#cancel-start{
	text-align: center;
	margin-top:20px;

}

#cancel-start p{
	display: inline-block;
	text-transform: uppercase;
}

#cancel-start p:nth-child(1){
	color:#D3D3D3 !important;
}

#cancel-start p:nth-child(1) a:visited {
	color:#D3D3D3 !important;
}

#cancel-start p:nth-child(1) a:active {
	color:#D3D3D3 !important;
}


#cancel-start p:nth-child(2){
	color:#0E777F !important;
	margin-left:20px;
}

#cancel-start p:nth-child(2) a:visited{
	color:#0E777F !important;
}

#cancel-start p:nth-child(2) a:active{
	color:#0E777F !important;
}

#upload-links p{
	display:inline-block;
}


/*Tablet*/

@media only screen and (min-width : 870px) and (max-width : 1077px) {
   
	 .chat-general-info {
         padding-bottom:3%;   
    }
}


@media only screen and (min-width : 660px) and (max-width : 870px) {

	  .chat-general-info {
         padding-bottom:2%;   
    }

}

@media only screen and (min-width : 480px) and (max-width : 660px) {
	  .chat-general-info {
         padding-bottom:1%;   
    }

}


/*Mobile*/
@media only screen and (min-width : 320px) and (max-width : 480px) {

	  
    .chat-general-info {
         padding-bottom:0;   
    }

	#cancel-start p:nth-child(1) {
  		margin-bottom: 20px;
	}

	#chat-product {
  		margin-top: -25px;
  		margin-bottom: 40px;
	}

}


/*************** product-chat.php ***************/

#icon .title{
	margin-top: 70px !important; 
}

#chat .title h2{
	margin-top: 70px; 
}

#icon .title span{
	float:right; 
	margin: 0px; 
}


#chat .title h2{
	color:#0E777F;
	font-family: 'AndesRounded-Regular',Helvetica, Arial, sans-serif;
}

#chat-description p{
	font-family: 'AndesRounded-Regular',Helvetica, Arial, sans-serif;
	color:#6C6C6C;
	margin-bottom: 40px;
}

#chat-description p span{
	color:#00B2BE;
}

#chat-description textarea{
	padding:10px;
	box-sizing: border-box;
	color:#D3D3D3;
	font-family: 'AndesRounded-Regular',Helvetica, Arial, sans-serif;

}

#chat-description input[type="button"]{
	color:#ffffff;
	background-color:#00B2BE ;
	float:right;
	width: 150px;
	border-radius: 5px;
	border:0px;
	height: 40px;
}

#upload-links{

}


#comment-list{
 	 position: relative;
 	 margin-bottom: 40px;
}

.comment-2 {
   	/*position: absolute;*/
    bottom: 0;
    left: 0;
}

.comment-user-photo-2 {
    float:left;
}

.wrote-comment-2 p{
	color:#585858;
	line-height: 24px;
	font-family: 'AndesRounded-Regular',Helvetica, Arial, sans-serif;
}

.wrote-comment p{
	color:#585858;
	line-height: 24px;
	font-family: 'AndesRounded-Regular',Helvetica, Arial, sans-serif;
}


.wrote-comment-2 {
    float:left;
    /*margin-left:25px;*/
    margin-right:40px;
    margin-left:25px;
    position: relative;

    width: 63%;
    /*height: 70px;*/
	padding: 20px;
	background: #FFFFFF;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: #E9E9E9 solid 1px;
}

.wrote-comment-2:after {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 15px 20px 15px 0;
	border-color: transparent #FFFFFF;
	display: block;
	width: 0;
	z-index: 1;
	left: -20px;
	top: 21px;
}

.wrote-comment-2:before {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 15px 20px 15px 0;
	border-color: transparent #E9E9E9;
	display: block;
	width: 0;
	z-index: 0;
	left: -21px;
	top: 21px;
}

.comment-1 {

    bottom: 0;
    left: 0;
}

.comment-user-photo {
   float:right;
   margin-top: 20px;
}


.wrote-comment {
    float:right;
    margin:20px 25px 20px 40px;
    position: relative;

    width: 63%;
    /*height: 70px;*/
	padding: 20px;
	background: #FFFFFF;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: #E9E9E9 solid 1px;
}


.wrote-comment:after {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 15px 0 15px 20px;
	border-color: transparent #FFFFFF;
	display: block;
	width: 0;
	z-index: 1;
	right: -20px;
	top: 21px;
}



.wrote-comment:before {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 15px 0 15px 20px;
	border-color: transparent #E9E9E9;
	display: block;
	width: 0;
	z-index: 0;
	right: -21px;
	top: 21px;
}

.chat-date{
	font-size: 0.8em;
	/*position:absolute;*/
	bottom:0;
	margin-top: 10px;
	/*margin-bottom: 8px;*/
	color:#C8C8C8 !important;
}

#newDivs{
	margin-top: 40px;
}

/*Tablet*/
@media only screen and (min-width : 870px) and (max-width : 1024px) {
   
				.wrote-comment-2 {
			
			  		width: 74.5%;
			  		/*margin-bottom: 80px;*/

			}


				.wrote-comment {
			
			  		width: 74.5%;

			}

}


@media only screen and (min-width : 660px) and (max-width : 870px) {

				.wrote-comment-2 {
			
			  		width: 60%;
			  		margin-right:70px;


			}


				.wrote-comment {
			
			  		width: 60%;
			  		margin-bottom: 20px;

			}


}

@media only screen and (min-width : 480px) and (max-width : 660px) {

			.wrote-comment-2 {
			
			  		margin-right:0px;
			  		/*margin-bottom: 50px;*/
			}


			.wrote-comment {
			
			  		margin-bottom: 20px;
			  		margin-left:10px;

			}

				#icon .title span {
					display:none;
			}

				#chat .title h2 {
				margin-top: 0px;

			}

				#icon .title {
  				margin-top: 0px !important; 
			}
}


/*Mobile*/
@media only screen and (min-width : 320px) and (max-width : 480px) {

				#icon .title span {
					display:none;
			}

				#chat .title h2 {
				margin-top: 0px;

			}

				#icon .title {
  				margin-top: 0px !important; 
			}

				.wrote-comment-2 {
			
			  		width: 50%;
			  		margin-right:10px;
			  		/*margin-bottom: 40px;*/

			}

				.comment-user-photo {
  					margin-top: 3%;
			}

				.wrote-comment {
			
			  		width: 50%;
			  		margin: 20px 20px 40px 20px;

			}

}

/*************** product-negociation.php ***************/

#negociation-form label h4{
	margin-top: 20px;
	margin-bottom: 20px;
	color:#585858;
	font-family: 'AndesRounded-Bold',Helvetica, Arial, sans-serif;
}

#negociation-description h3{
	color:#0E777F;
	font-weight: 300;
	font-family:'AndesRoundedLight',Helvetica, Arial, sans-serif;
	margin-bottom: 20px;
}

#negociation-description h4{
	color:#585858;
	font-family: 'AndesRounded-Regular',Helvetica, Arial, sans-serif;
}

#negociation-form p{
	color:#585858;
	font-family: 'AndesRounded-Regular',Helvetica, Arial, sans-serif;
}

#negociation-form fieldset{
	border:0px;
}

.conditions{
	margin-bottom: 20px;
}

.conditions li{
	display:inline-block;
	color:#909090;
}

.conditions-2 li{
	display:inline-block;
	color:#909090;
}

.conditions-2 label:nth-child(1){
	margin-right: 50px;
}

.date{
	color:#6C6C6C;
	padding-left:30px;
	height: 40px;
	border: 1px solid #D0D0D0;
	border-radius: 5px;
	text-align: center;
}

img.ui-datepicker-trigger {
      position: relative;
      left: -190px;
  	  top: 15px;
}



#negociation-form button input[type='submit']{
	float:right;
	background-color:#00B2BE;
	color:#ffffff;

}

#choose-reward {
    /*margin:4px; */
    float:left;
    margin-top: 20px;
    margin-bottom: 20px;
}

#choose-reward label {
    float:left;
    width:170px;
    margin:4px;
    background-color:#EFEFEF;
    border-radius:4px;
    border:1px solid #D0D0D0;
    overflow:auto;
    display:inline-block;
       
}

#choose-reward label:nth-child(3) {
  float: left;
  margin: 4px;
  overflow: auto;
  background-color:transparent;
   border:transparent;
}

#choose-reward label span {
    text-align:center;
    font-size: 20px;
    padding:13px 0px;
    display:block;

}

#choose-reward label span img{
	vertical-align: middle;
	margin-right: 10px;
}

#choose-reward label input {
    position:absolute;
    top:-800px;
    visibility: hidden;
}

#choose-reward input:checked + span {
    /*background-color:#404040;
    border-color:#0E777F;*/
    border-radius:4px;
    border: 1px solid #00B2BE;
    color:#0E777F;
}

#choose-reward .white {
    background-color:#ffffff;
    color:#0E777F;
}

/*Choose type of volunteer*/

#choose-volunteer{
    float:left;
    margin-top: 20px;
}

#choose-volunteer ul li{
	list-style-type:none;
	display:inline;
	padding:0; 
	float:left;
}

#choose-volunteer ul li h5{
	display:block;
	color:#585858;
	font-family:'AndesRounded-Light',Helvetica, Arial, sans-serif;
	text-align: center;
	margin-top: 20px !important;

}

#choose-volunteer label {
	width: 70px;
    /*float:left;*/
    background-color:#EFEFEF;
    border-radius:50%;
    border:1px solid #D0D0D0;
    overflow:auto;
    display:block;  
    margin-left: 10px;
    margin-top: 20px;
}

#choose-volunteer label span {
    text-align:center;
    display:block;

}

#choose-volunteer label span img{
	vertical-align: middle;
	margin: 0 auto;
}

#choose-volunteer label input {
    position:absolute;
    top:-800px;
     visibility: hidden;
}

#choose-volunteer input:checked + span {
	border-radius: 50%;
    border: 1px solid #00B2BE;
    color:#0E777F;
}

#choose-volunteer .white {
    background-color:#ffffff;
    color:#0E777F;
}

#volunteer-description textarea{
	padding:20px;

}


#costs-currency .ui-selectmenu-button {
    line-height: 1;
    border: 1px solid #D0D0D0;
    padding: 5px 70px 5px 20px;
    border-radius: 7px;  
    font-size: 1em;
    background: url('../img/icons/dropdown-blue.svg') right center no-repeat;
    background-color: #ffffff;
    width: 100px;
        margin: 20px 10px;
    display: inline-block;
}

#costs-currency .ui-selectmenu-text {
    color: #737373;
    font-family: 'AndesRounded-Book';
    line-height: 1.5;
    font-size: 1.25em;
    text-align: center;
}

/* OPEN CONTAINER DROPDOWN (ul) */
#costs-currency .ui-menu {
    position: relative;
    margin: 8px auto 0 auto;
    cursor: pointer;
    min-height: 0;
    text-align: center;
    border-radius: 6px;
    border: 1px solid #E9E9E9;
    width: 100px !important;
    /* support: IE7; */
    /* support: IE10, see #8844; */
  }

#costs-currency .ui-selectmenu-menu {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  z-index:9999;
}

/* OVERFLOW UL */

#costs-currency .ui-selectmenu-menu .ui-menu {
  overflow: auto;
  /* Support: IE7; */
  overflow-x: hidden;  
}

#costs-currency .ui-state-focus {
  outline: none;
 }

#costs-currency .ui-selectmenu-open {
  display: block;
}
/*final*/

.send{
	background-color: #00B2BE;
	color:#fff;
	text-transform: uppercase;
	float:right;
	width: 180px;
}

.negociation-info {
  background-color: white;
  padding-bottom: 33% ;
  margin: 0 auto;
  width: 40%;
}

.full_background{
	width: 100%;
	background-color: #fff;
}

/*Mobile*/
@media only screen and (min-width : 320px) and (max-width : 480px) {

		.send{
			float:left;
			margin-top: 20px;
			margin-bottom: 20px;
		} 

		#choose-reward label input {
    		position:absolute;
    		top:-1000px;
		}

}

/*************** product-negociation-2.php ***************/

#new-proposal{
	border: 2px solid #F9A41A ;
	border-radius: 5px;
	background-color: #ffffff;
	margin-top: 20px;
	margin-bottom: 30px;
}

#intro-new-proposal{
	height: 30px;
	background-color: #F9A41A;
	color:#ffffff;
	text-align: center;
	font-family: 'AndesRounded-Regular',Helvetica, Arial, sans-serif;

}

#details-reward{
	padding:10px 20px 10px 20px;
}

#details-reward li h4{
	vertical-align: middle;
	display:inline-block;
	margin-right:12px;
	margin-bottom: 10px;
	color:#0E777F;
	font-family: 'AndesRounded-Regular',Helvetica, Arial, sans-serif;
}

#details-reward li h5{
	color:#737373;
	margin-bottom: 8px;
	margin-left: 52px;
	font-family: 'AndesRounded-Light',Helvetica, Arial, sans-serif;
}

#details-reward li span{
	 text-decoration: line-through;
	 color:#BEC9C9;
}

#new-actions-button{
	padding:0px 10px 0px 10px;
}

#new-actions-button li{
	vertical-align: middle;
	display:inline-block;
	margin: 10px;
	text-transform: uppercase;
}

#new-actions-button li:nth-child(1) button{
	background-color:#00B2BE;
	color:#ffffff;
	padding:0px 10px 0px 10px;
	text-transform: uppercase;
}

#new-actions-button li:nth-child(2) {
	color:#0E777F;
}

#new-actions-button li:nth-child(3) {
	color:#D3D3D3;
}

#new-actions-button p{
	padding:10px;
	font-size: 14px;
	color:#8D8D8D;
	font-family: 'AndesRounded-Light',Helvetica, Arial, sans-serif;
}

.accepted{
	display:block;
    margin: 0 auto;
	text-align: center;
	background-color:#C9EFF2 ;
	color:#00B2BE;
	text-transform: uppercase;
	padding: 0px 15px 0px 15px;
	margin-bottom: 15px;
}


