/*Mari*/


/*************** Wish_board.php ***************/

.full-width-line {
    position: absolute;
    width: 100%;
    left: 0;
    color:black;
    margin-top: 250px;
}

.full-width-line2 {
    position: absolute;
    width: 100%;
    left: 0;
    color:black;
    margin-top: 305px;
}

#wish_trips{
	text-align: center;
	margin-top: 45px;
	margin-bottom: 45px;
}

#user-search{
	margin-bottom: 20px
}


.input-trips {
	width: 25%; /*285px*/
	height: 16px;
	padding: 10px;
	border-radius: 5px;
	border-color:gray;
	margin-right:8px;
}

/*Botones SUBMIT*/
#user-search input[type="submit"] {

    cursor: pointer;
  	background-color:gray;
	color:#ffffff;
	border:0;
	border-radius: 5px;
	width: 150px;
	height: 40px;
}

.outline{
	  background-color: transparent;
}

#filters{
	margin-top: 40px
}

#wish-boards{
	margin-top: 50px;
	display: inline-block; important!
}

#wisher_card{
	/*border-radius: 6px;
	border: 2px solid #E4DFDF;*/
	outline: 2px solid #E4DFDF;
	 -moz-outline-radius: 6px;
	height:240px;
	float: left;
	margin-bottom: 20px;
}

#basic_info_home li{
	display:inline-block;
}

#basic_info_home li:nth-child(2) {
    vertical-align:top;
    margin-top:20px; 
	margin-left:10px;
}

#basic_info_home li:nth-child(3) {
    float:right;
    margin-top:20px;
}

.display_inline_block{
	display:inline-block;
}

#destination_home{
	margin-top: 20px;
  	margin-left: 75px;
    margin-right: 100px;
	float:left;
}

#details_home{
	margin-top: 20px;
	float:left;
}


#details_home li {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: gray;
  display: inline-block;
  margin-top: 10px;
}

button{
	background-color:gray;
	color:#ffffff;
	border:0;
	border-radius: 5px;
	width: 150px;
	height: 40px;
}

.button_look{
	font-size: 15px;
	border-radius: 0 0 5px 5px;
	color:#ffffff;
	background-color: #E4DFDF;
	position: absolute; 
	bottom: 0;
	height: 40px;
	width: 100%;
	text-align: center;
}

.button_look h4{
	color:#939393;
	margin-top:15px;
}

.center{
	text-align: center;
}

/*Media queries wish-boad*/

/*Mobile*/
@media only screen and (min-width : 320px) and (max-width : 480px) {
    
    .input-trips {
	  margin-bottom: 8px;
	  width: 94%;
	}

	#destination_home{
		margin-top: 20px;
	  	margin-left: 10px;
	    margin-right: 100px;
		float:left;
	}


	#user-search input[type="submit"]{
		width: 100%;
	}

	.outline {
		display:none;
	}

	.full-width-line {
	  
	   display:none;
	}

	.full-width-line2 {
	    display:none;
	}


}


/*Tablet*/
@media only screen and (min-width : 768px) and (max-width : 1024px) {
   

	#destination_home{
		margin-top: 20px;
	  	margin-left: 10px;
	    margin-right: 80px;
		float:left;
	}

}

/*768*/
@media only screen and (min-width : 480px) and (max-width : 847px) {
   

	#destination_home{
		margin-top: 20px;
	  	margin-left: 10px;
	    margin-right: 80px;
	    margin-bottom: 20px;
		float:left;
	}

	#wisher_card{
		  height: auto;
	}

	.input-trips {
		  width: 180px;
		  margin-bottom: 8px;
	}

	.full-width-line {
	  
	    margin-top: 295px;
	}

	.full-width-line2 {
	    margin-top: 350px;
	}


}


/*************** Trip_board.php ***************/


#trip-boards{
	margin-top: 50px;
	display: inline-block; important!
}

#tripper_card{
	/*border-radius: 6px;
	border: 2px solid #E4DFDF;*/
	outline: 2px solid #E4DFDF;
	 -moz-outline-radius: 6px;
	height:180px;
	float: left;
	margin-bottom: 20px;
}


#trip_home{
	margin-top: 20px;
  	margin-left: 75px;
    margin-right: 100px;
	float:left;
}

#basic_info_home_trips{
	float:left;
}

#destination_home_trips {
  	margin-top: 10px;
  	margin-left: 30px;
  	margin-right: 90px;
  	float: left;
}

#details_home_trips{
	margin-top: 10px;
	float:left;
}

#details_home_trips li {
  	width: 40px;
  	height: 40px;
  	border-radius: 50%;
  	background-color: gray;
  	display: inline-block;
  	margin-top: 10px;
}

/*Media queries trip-boad*/

@media only screen and (min-width : 480px) and (max-width : 870px) {
   

	#destination_home_trips{
	  	margin-right: 30px;
	  	margin-left: 16px;
	}


}

@media only screen and (min-width : 320px) and (max-width : 480px) {
    
	#destination_home_trips{
	  	margin-right: 40px;
	  	margin-left: 20px;
	}

}




