

/* Our own reset
----------------------------------------------------------------------------------------------------*/

body {	
  background-color: #f9f9f9;
  font-family: 'AndesRounded',Helvetica, Arial, sans-serif;
  font-size: 16px;
}

h1,h2,h3,h4,h5,h6,p, ul {
	margin: 0;
	padding: 0;
}


h1 {
	font-size: 1.5em;
}

h2 {

}

h3 {

}

h4 {

}

h5 {


}

h6 {

}

p {

}

ul {
	list-style-type: none;

}

.clear {
	clear: both;
}


/* Real start 
----------------------------------------------------------------------------------------------------*/



.main-container {
  height: auto;
  margin: 0 auto;
  box-sizing: content-box;
  background-color: white;
}



header {
	width: 100%;
	height: 80px;
	background-color: gray;
	margin:0 !important;
}

header h1 {

	font-family: 'AndesRounded-ExtraBold';
	float: left;
}


.user-tools {
	float: right;
	display: block;
}

.user-tools li {
	display: inline-block;
}

.user-tools li a {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: white;
	display: block;
}

/* Photos in Circles */
.user-pic {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;

	display: block;
	overflow: hidden;
}







